
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html {
    scroll-behavior: smooth;
  }

#header{
    max-width: 100%;
    position: relative;
}
#header .image-background{
    width: 100%;
    
}
.nav-header{
    max-width: 100%;
    position: absolute;
    top:0;
    margin: 10px 50px;
}
.icon-header{
    float:left;
}
.icon-header a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    float: left;

}
.icon-header h1{
    float:left;
    line-height: 75.5px;
    margin: 0 120px 0 50px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;

    
}
.icon-header a >img{
    height: 68.5px;
}
.bar-header{
    float:left;
    line-height: 75.5px;
    margin: 0 220px 0 200px;
}
.bar-header li{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.bar-header li >a{
    text-decoration: none;
    color: black;
    position: relative;
}
.bar-header li > a::after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 5px;
    width: 0;
    left: calc(100%/3);
    right: calc(100%/3);
    bottom: -10px;
    transition: 0.3s;
    border-radius: 3px;
}
.bar-header li >a:hover::after{
    width: 20px;
}
.contact-header{
    float:left;
    line-height: 75.5px;
}
.contact-header li{
    display: inline-block;
    margin:0 20px;
    text-transform: uppercase;
}
.contact-header li > a{
    position: relative;
}
.contact-header li > a::after{
    content: "";
    position: absolute;
    background-color: orange;
    height: 5px;
    width: 0;
    left: calc(100%/3);
    right: calc(100%/3);
    bottom: -10px;
    transition: 0.3s;
    border-radius: 3px;
}
.contact-header li > a:hover::after{
    width: calc(100%/3);
}
.contact-header .call-us a{
    color:orange
}
.contact-header li >a{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
}
.right{
    position: absolute;
    height: 60px;
    width: 30px;
    border-radius: 60px 0 0 60px;
    -moz-border-radius: 60px 0 0 60px;
    -webkit-border-radius: 60px 0 0 60px;
    background: black;
    right: 0;
    bottom: 450px;
    border: none;
}
.right i{
    color:white
}
.left{
    position: absolute;
    height: 60px;
    width: 30px;
    border-radius: 0px 60px 60px 0;
    -moz-border-radius: 0px 60px 60px 0;
    -webkit-border-radius: 0px 60px 60px 0;
    background:black;
    bottom: 450px;
    left:0px;
    border: none;
}
.left i{
    color:white
}
.content-header {
    max-width: 100%;
    position: absolute;
    top:200px;
    left:calc(100%/3);
    right:calc(100%/3);

}
.content-header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 90px;
    margin: 30px 0;
    
}
.content-header p{
    text-align: center;
    font-size: 17px;
}
.button-contact-us{
    padding: 10px 20px;
    background-color: orange;
    position: absolute;
    border: none;
    bottom: 50px;
    left: calc(100%/2.2);
    border-radius: 4px;
    font-size: 17px;
}
.button-contact-us a{
    text-decoration: none;
    text-transform: uppercase;
    color:white
}
.button-contact-us:hover{
    background-color: #ccc;
}
.button-contact-us:hover a{
    color: black;
}
#content {
    margin-top: 90px;
}
#content h1{
    text-align: center;
    text-transform: uppercase;
}
#content .content-p{
    text-align: center;
}
.our-service{
    display: flex;
    flex-direction: row;
    margin: 60px 50px 120px 50px;
}
.furniture-content{
    text-align: center;
    padding: 0 50px;
}
/* .furniture-content img{
    filter: grayscale(100%);
} */
.furniture-content h2{
    text-transform: uppercase;
    margin: 25px 0;
}
.furniture-content button{
    text-transform: uppercase;
    background-color: orange;
    border: none;
    padding: 10px;
    margin-top: 25px;
    border-radius: 4px;
}
.furniture-content button:hover{
    background-color: #ccc;
}
.furniture-content button:hover>a{
    color:black
}
.furniture-content button>a{
    text-decoration: none;
    color: white;
}
.about-us-content {
    display: flex;
    flex-direction: row;
    background-color: #ffb607;
    padding: 100px 100px;
    margin: 20px 0;
}
.about-us{
    padding-right: 200px;
}
.about-us h2{
    text-transform: uppercase;
    color: white;
    font-size: 35px;
}
.about-us .about-us-p{
    text-align: left;
    padding: 20px 120px 100px 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}
.about-us .about-us-btn{
    text-transform: uppercase;
    background-color: black;
    border: none;
    padding: 10px;
}
.about-us button:hover{
    background-color: #ccc;
}
.about-us button:hover>a{
    color:black
}
.about-us button>a{
    text-decoration: none;
    color:white;
}
.about-us-img img{
    min-width: 550px;
    min-height: 450px;
    margin-right: 00px;
}
.our-furnitures{
    margin: 100px ;
}
.our-furniture-h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
}
.our-furniture-p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.our-furnitures-img-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
}
.our-furniture-img-content-div{
    position: relative;
}
.our-furniture-img-content-div2{
    position: relative;
}
.our-furniture-img-content-h2{
    text-transform: uppercase;
    color: orange;
    margin: 35px 0 25px 0;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif !important
}
.our-furniture-img-content-p{
    font-family: 'Open Sans', sans-serif !important
}
.our-furniture-img-content-div2{
    margin-left: 100px;
}
.our-furniture-img-content-div2 img{
    width: 100%;
}
.our-furniture-img-content-div img{
    width: 100%;
}
.hover-search{
    position: absolute;
    top: 35%;
    left: 50%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    cursor: pointer;
}

.our-furniture-img-content-div:hover  .hover-search{
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.our-furniture-img-content-div2:hover  .hover-search{
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.we-are-content p, button>a{
    font-family: 'Open Sans', sans-serif !important
}
.we-are-content-bg {
    background-image: url("../img/rustic-vegan-AwOG1tC5buE-unsplash_\(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
.we-are-content{
    background-color: rgba(255, 200, 1, 0.81);
    top: 0;
    left: 0;
    color: white;
    padding: 100px;
    text-align: center;
}
.we-are-content h1{
    padding: 5px;
    font-size: 35px;
}
.we-are-content h2{
    padding: 5px;
    font-size: 17px;
}
.we-are-content p{
    padding: 30px 0;
    font-size: 17px;
}
.we-are-content button{
    padding: 20px 30px;
    background-color: white;
    border: none;
    border-radius: 4px;

}
.we-are-content button:hover{
    background-color: #ccc;
}
.we-are-content button >a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    font-weight: bold;
}
.our-project{
    /* text-align: center; */
    margin:120px 0 0 0;
    position: relative;
}
.our-project-h2{
    text-transform: uppercase; 
    font-size: 35px;
    margin: 10px;
    text-align: center;
}
.our-project-p{
    font-size: 17px;
    text-align: center;
    margin: 0 50px 50px 50px;
}
.our-project-left{
    background-color: black;
    color: white;
    position: absolute;
    left:20px;
    top:350px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.our-project-right{
    background-color: black;
    color: white;
    position: absolute;
    right:20px;
    top:350px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.our-project-img{
    margin: 0 80px 120px 80px;
    display: flex;
    justify-content: space-around;
   
}
.our-project-img-hover{
    position: relative;
    /* background-color: orange; */
    /* margin: 0 10px; */
    width: 550px;

}
.our-project-img-hover h3{
    position: absolute;
    bottom: 30px;
    left: calc(100%/3.5);
    text-transform: uppercase;
    color: white;

}
.our-project-img-hover-button{
    position: absolute;
    background-color: rgba(255, 200, 1, 0.81);
    bottom: 20px;
    top:20px;
    left: 10px;
    right: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;
    border-radius: 5px;
    
    
}
.our-project-img-hover:hover .our-project-img-hover-button{
    display: flex;
    
}
.our-project-img-hover button{
    background-color:rgba(255, 255, 255, 0);
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    
}
.our-project-img img{
    width: 100%;
    /* padding: 10px; */
}
.our-client-h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
}
.our-client-p{
    text-align: center;
    margin-bottom: 100px;
}
.our-client-content{
    height: 400px;
    position: relative;
}
.our-client-content-div {
    border: 1px solid black;
    margin: 10px 700px 10px 100px;
    display: flex;
    padding: 20px;
    position: relative;
}
.our-client-content-div i{
    position: absolute;
    bottom: 10px;
    left: 90px;
    color: orange;
}
.our-client-content-div2 i{
    position: absolute;
    bottom: 95px;
    right: 1100px;
    color: orange;
}
.slider-our-client{
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-size: 35px;
}
.eclip-orange{
    color: orange;
}
.eclip-black{
    color: black;
}
.our-client-content-div-loksans{
    padding-left: 20px;
}
.our-client-content-div-loksans h2{
    text-transform: uppercase;
}
.our-client-content-div2 {
    border: 1px solid black;
    /* margin: 0 700px 0 100px; */
    padding: 20px;
    display: flex;
    float: right;
    margin: 10px 100px 10px 700px;

}
.our-client-content-div-exercitation{
    padding-left: 20px;
}
.our-client-content-div-exercitation h2{
    text-transform: uppercase;
}
.contact-main{
    position: relative;
    /* padding: 0 100px ; */
    background-image: url("../img/rustic-vegan-AwOG1tC5buE-unsplash_\(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1100px
}
.contact-us{
    /* padding: 0 100px ; */
    position: absolute;
    background-color: rgba(255, 200, 1, 0.81);
    /* background-color: rgba(255,182,7,1.00); */
    right: 0;
    left:0;
    top: 0;
    /* bottom: 0; */

}   
.contact-us h2{
    text-transform: uppercase;
    padding: 60px 100px;
    font-size: 35px;
    font-weight: bold;
    color:white
}
.contact-us-content {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    
}
.contact-us-content-input {
    /* display: flex;
    flex-direction: column; */
    margin-right: 20px;
}
.contact-us-content-input .contact-input{
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.contact-us-content-input .mess-input{
    padding: 40px 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.contact-us-img img{
    min-width: 750px;
    height: 370px;

    
}
.send-contact{
    margin: 50px 100px;
    padding: 20px 40px;
    background-color: none;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0);
}
.send-contact:hover{
    background-color: #ccc;
}
.send-contact a{
    text-decoration: none;
    color: white;
    background-color:none;
    font-weight: bold;
    
}
.send-contact:hover a{
    color:black;
    font-weight: bold;
}
.designtogether{
    /* padding: 0 100px ; */
    position: absolute;
    background-color: rgba(53, 47, 50, 0.93);
    /* background-color: rgba(255,182,7,1.00); */
    right: 0;
    left:0;
    bottom: 0px;
    height:387px ;
}   
.designtogether-content{
    margin: 70px 100px;
    color: white;
}
.design{
    float: left;
    width: calc(100%/4);
}
.let-us-help-you,.information, .our-design{
    padding-top: 10px;
}
.design h2{
    margin-bottom: 30px;
}
.design-content-detail{
    padding-right: 80px;
}
.design-content-detail h2{
    font-size: 36px;
    font-weight: bold;
}
.let-us-help-you{
    padding-left: 60px;
    padding-right: 60px;
}
.information{
    padding-left: 90px;
    padding-right: 60px;
}
.information li{
    list-style-type: none;
}
.information li>a{
    color: white;
    text-decoration: none;
}
.our-design{
    padding-left: 100px;
}
.button-sub{
    position: absolute;
    bottom: 20px;
    right:100px;
    width: 600px;
    border-bottom: 2px solid #ccc;
}
.button-sub input{
    width: 530px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid;
    /* border-bottom: 2px solid #ccc; */
}
.button-sub input:focus{
    outline: none;
    color: white;
}
.button-sub button{
    background-color:rgba(255, 255, 255, 0);
    border: none;
}
.button-sub button>a:hover{
    color: orange;
}
.button-sub button>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#footer{
    text-align: center;
}
#footer .logo{
    margin:30px 0;
    font-size: 30px;
    color: black;
}