*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}
#header{
    max-width: 100%;
    position: relative;
}
#header .image-background{
    width: 100%;
    
}
.nav-header{
    max-width: 100%;
    position: absolute;
    top:0;
    margin: 10px 50px;
}
.icon-header{
    float:left;
}
.icon-header a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    float: left;

}
.icon-header h1{
    float:left;
    line-height: 68.5px;
    margin: 0 120px 0 50px;
    text-transform: uppercase;
    font-size: 25px;
}
.icon-header a >img{
    height: 68.5px;
}
.bar-header{
    float:left;
    line-height: 68.5px;
    margin: 0 80px 0 0;
}
.bar-header li{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.bar-header li >a{
    text-decoration: none;
    color: black;
}
.contact-header{
    float:left;
    line-height: 68.5px;
}
.contact-header li{
    display: inline-block;
    margin:0 20px;
    text-transform: uppercase;
}
.contact-header .call-us a{
    color:orange
}
.contact-header li >a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.right{
    position: absolute;
    height: 60px;
    width: 30px;
    border-radius: 60px 0 0 60px;
    -moz-border-radius: 60px 0 0 60px;
    -webkit-border-radius: 60px 0 0 60px;
    background: black;
    right: 0;
    bottom: 300px;
    border: none;
}
.right i{
    color:white
}
.left{
    position: absolute;
    height: 60px;
    width: 30px;
    border-radius: 0px 60px 60px 0;
    -moz-border-radius: 0px 60px 60px 0;
    -webkit-border-radius: 0px 60px 60px 0;
    background:black;
    bottom: 300px;
    left:0px;
    border: none;
}
.left i{
    color:white
}
.content-header {
    max-width: 100%;
    position: absolute;
    top:200px;
    left:calc(100%/3);
    right:calc(100%/3)
}
.content-header h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 90px;
    margin: 30px 0;
}
.content-header p{
    text-align: center;
}
.button-contact-us{
    padding: 20px 40px;
    background-color: orange;
    position: absolute;
    border: none;
    bottom: 50px;
    left: 680px;
}
.button-contact-us a{
    text-decoration: none;
    text-transform: uppercase;
    color:white
}
.button-contact-us:hover{
    background-color: #ccc;
}
.button-contact-us:hover a{
    color: black;
}
#content {
    /* padding: 0 200px; */
}
#content h1{
    text-align: center;
    text-transform: uppercase;
}
#content .content-p{
    text-align: center;
}
.our-service{
    display: flex;
    flex-direction: row;
}
.furniture-content{
    text-align: center;
}
/* .furniture-content img{
    filter: grayscale(100%);
} */
.furniture-content h2{
    text-transform: uppercase;
}
.furniture-content button{
    text-transform: uppercase;
    background-color: orange;
    border: none;
    padding: 10px;
}
.furniture-content button:hover{
    background-color: #ccc;
}
.furniture-content button:hover>a{
    color:black
}
.furniture-content button>a{
    text-decoration: none;
    color: white;
}
.about-us-content {
    display: flex;
    flex-direction: row;
    background-color: orange;
    padding: 100px 100px;
    margin: 20px 0;
}
.about-us h2{
    text-transform: uppercase;
    color: white;
}
.about-us .about-us-p{
    text-align: left;
    padding: 20px 120px 20px 0;
    
}
.about-us .about-us-btn{
    text-transform: uppercase;
    background-color: black;
    border: none;
    padding: 10px;
}
.about-us button:hover{
    background-color: #ccc;
}
.about-us button:hover>a{
    color:black
}
.about-us button>a{
    text-decoration: none;
    color:white;
}
.about-us-img img{
    max-width: 550px;
    max-height: 450px;
    padding: 10px 50px;
}
.our-furnitures{
    margin: 100px ;
}
.our-furniture-h2{
    text-transform: uppercase;
    text-align: center;
}
.our-furniture-p{
    text-align: center;
}
.our-furnitures-img-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-furniture-img-content-h2{
    text-transform: uppercase;
    color: orange;
}
.our-furniture-img-content-div{
    margin-left: 100px;
}
