.input_header{
    border: none;
    background-color: #EDEDED;
    border-radius: 5px;
    line-height: 38px;
    padding-left: 10px;
}
.fa-user, .fa-cart-shopping {
    font-size: 28px;
    color: #7c7575;
    line-height: 40px;
}
.cart-name{
    line-height: 38px;
}
.isBtn {
    line-height: 25px;
    right: 100px
}
.category_bar {
    border-radius: 5px;
}
.navbar_slidebar_left {
    display: flex;

}
.d-flex li {
    margin: 0 10px;
}
.list_bar {
    list-style: none;
}
.test {
    height: 28px;
    border-radius: 5px;
}
@media only screen and (max-width: 992px) {
.isBtn{
    font-size: 0;
    line-height: 21px;
}
.isBtn i {
    font-size: 16px;
}
.cart-name {
    font-size: 0;
}
}
@media only screen and (max-width: 1400px) {
    .cart-name {
        font-size: 0;
    }
}
@media only screen and (max-width: 1400px) {
    .isBtn{
        font-size: 0;
        line-height: 21px;
    }
    .isBtn i {
        font-size: 18px;
    }
}