<% 
filterStatusHelper = (statusFillters, collection,keyword)=>{
    let xhtml = ''
    statusFillters.forEach(( statusFillter)=>{ 
        let className = statusFillter.class
        let link  = `/${systemConfig.prefixAdmin}/${collection}/status/${statusFillter.value}`
        if(keyword !== ""){
            link  += `?keyword=${keyword}`
        }
        xhtml += `<a class="btn m-b-sm btn-${className} btn-sm" href="${link}"> ${statusFillter.name} (${statusFillter.count}) </a>`
        })

        return  xhtml
 }
    
%>


