<% 
    showDashboard = (collection) =>{
        let arrBackground = ['info', 'success','warning','danger']
        let html =''
        let countBg = 0
        collection.forEach((obj, index)=>{
            if(countBg == 4) countBg = 0
            html +=` <div class="col-lg-3 col-6">
                        <div class="small-box bg-${arrBackground[countBg]}">
                            <div class="inner">
                                <h3>${obj.count}</h3>
                                <p>${obj.name}</p>
                            </div>
                            <div class="icon">
                                <i class="${obj.icon}"></i>
                            </div>
                            <a href="/${systemConfig.prefixAdmin}/${obj.slug}" class="small-box-footer">More info
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>`
            countBg++       
        })
        return html;
    }
%> 