<div class="col-lg-12 post-list" >
    <div class="single-post-wrap">
        <div class="feature-image-thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class ="img-fluid" src="frontend/img/errorPage.jpg" alt="">
        </div>
        <div class="content-wrap">
            <h3>Không tìm thấy trang</h3>
        </div>
    </div>
</div>