.class-1{
    color: red;
    font-style: italic;
}
.class-2.class-3{
    color: green;
    font-style: italic;
}
.class-4 .class-5{
    color: palevioletred;
    font-style: italic;
}
p.class-6{
    color: blue;
    font-style: italic
}
div.class-6{
    color: black;
    font-style: italic;
}
.class-7{
    color: black;
    font-style: italic;
}
.class-8{
    color: black;
    font-style: italic;
}
h3,h4{
    color: brown;
    font-style: italic
}
.list{
    color: plum;
    font-style: italic;
}