<%- include('./../../helpers/formattime'); -%>

<%
  const collection = "order";
  const linkPrefix = "/" + systemConfig.prefixAdmin + `/${collection}/`;
  const moneyVND  = (number)=>{
    return number.toLocaleString() +" VND"
  }
  let showListProductTracking = (data) =>{
    if(!data) return
    let dataJson = JSON.parse(data)
    let html = ''
    let showPriceDiscount = (price, priceDiscount) =>{
      if(price == priceDiscount){
        return moneyVND(price)
      } else{
        return `${moneyVND(priceDiscount)}<del class='ml-2'>${moneyVND(price)}</del>`
      }
    }
    dataJson.forEach(item=>{
      html+= `
      <div class="row">
        <div class="col-6">
            <span id="name">${item.name}</span>  
        </div>
        <div class="col-3">
            <span>x${item.quantity}</span>  
        </div>
        <div class="col-3">
            <span id="price">${showPriceDiscount(item.price, item.priceFinal)}</span>
        </div>
      </div>
  
      `
    })
    return html
  }

  let showTrackingOrder = (data)=>{
    let coupon = (data.couponValue)
    ? `
    <div class="row">
      <div class="col-9">
          <span id="name">Coupon</span>
      </div>
      <div class="col-3">
          <span id="price">-${moneyVND(data.couponValue)}</span>
      </div>
    </div>
    `
    :''
     return `
     <div class="card-body p-5 orderTrackingSuccess">
     <div class="card">
       <div class="title">Order Detail</div>
       <div class="info">
           <div class="row">
               <div class="col-7">
                   <span id="heading">Order Date</span><br>
                   <span id="details">${formatTime(data.createdAt)}</span>
               </div>
               <div class="col-5 pull-right">
                   <span id="heading">Tracking Code</span><br>
                   <span class="trackingCode" id="details">${data.trackingCode}</span>
               </div>
               <div class="col-7">
                <span id="heading">Phone Number</span><br>
                <span id="details">${data.phoneNumber}</span>
            </div>
            <div class="col-5 pull-right">
                <span id="heading">Address</span><br>
                <span class="trackingCode" id="details">${data.address.info + ", " + data.address.province.province}</span>
            </div>
           </div>      
       </div>      
       <div class="pricing">
            ${showListProductTracking(data.productList)}
       </div>
       <div class="total">
         <div class="row">
           <div class="col-9">
               <span id="name">Price Product</span>
           </div>
           <div class="col-3">
               <span id="price">${moneyVND(data.priceProduct)}</span>
           </div>
       </div>
         <div class="row">
           <div class="col-9">
               <span id="name">Cost Ship</span>
           </div>
           <div class="col-3">
               <span id="price">+${moneyVND(data.costShip)}</span>
           </div>
       </div>
        ${coupon}
           <div class="row">
               <div class="col-9">Must Paid</div>
               <div class="col-3"><big>${moneyVND(data.totalMoney)}</big></div>
           </div>
       </div>
       <div class="tracking">
           <div class="title">Status Order <span style="margin-left:50px; background-color: #ff6300; color: white; padding: 4px;">${statusOrder[data.status]}</span></div>
       </div>
     </div>
  </div>
     `
  }

  let showDetailOrder = (data) =>{
    let html =''
      if(!data){
        return `
        <div class="card-body p-5 orderTrackingSuccess">
          <div class="card" style="max-width: 50%">
            <div class="title text-center" style="font-size: 50px; font-weight:900">Order Can't Be Found</div>
          </div>
        </div>
      ` 
      } else {
        html = showTrackingOrder(data)
      }
    return html
  }
%>

<%- showDetailOrder(orderData) %>
