<% paginationHelper=(pagination,collection,currentStatus,keyword)=> {
    
    let totalItems = pagination.totalItems
    let totalItemsPerPage = pagination.totalItemsPerPage
    let totalPages = Math.ceil(totalItems/totalItemsPerPage)
    let currentPage = pagination.currentPage
    let pageRange = pagination.pageRange
    let to = totalItemsPerPage*currentPage
    let from = ((to - totalItemsPerPage + 1) > 1) ? (to - totalItemsPerPage + 1) : 0
    if(to > totalItems ) to = totalItems
    let xhtmPagination = '';
    console.log("totalItem=",totalItems,"totalItemsPerpage=",totalItemsPerPage,"totalPages=",totalPages)
    if(totalPages > 1){
        let xhtmStart = ''
        let xhtmPrev = ''
        let xhtmNumber = ''
        let xhtmNext = ''
        let xhtmEnd = ''
        let link = systemConfig.prefixAdmin + "/" + collection + "/status/" + currentStatus
        if(keyword !== ''){
            link += "?keyword="+keyword + "&page="
        }else{
            link += "&page="
        }
        if(currentPage > 1){
            xhtmStart = `<li><a href="${link}1">Start</a></li>`
            xhtmPrev = `<li><a href="${link}${currentPage-1}">Prev</a></li>`
        }
    
        if(currentPage < totalPages ){
            xhtmEnd = `<li><a href="${link}${totalPages}">End</a></li>`
            xhtmNext = `<li><a href="${link}${currentPage+1}">Next</a></li>`
        }
    
        let milde = Math.floor(pageRange/2);
        let min = currentPage - milde;
        let max =  min + pageRange - 1;
    
        if(currentPage < (pageRange - 1)){
                min  = 1;
                max = min + pageRange - 1;
        }
        if(currentPage > (totalPages - milde)){
            max = totalPages;
            min = (max - pageRange + 1) <= 1 ? 1 : (max - pageRange + 1);
        }
        console.log("min=",min,"max=",max)
        for(let i = min; i <= max; i++){
            if(currentPage == i) {
                xhtmNumber += `<li class="active"><a>${i}</a></li>`
            }else{
                xhtmNumber += `<li><a href="${link}${i}">${i}</a></li>`
            }
        }
        xhtmPagination = '<ul class="pagination text-center">' + xhtmStart + xhtmPrev + xhtmNumber + xhtmNext + xhtmEnd + '</ul>'
        console.log("min=",min,"max=",max)
    }
    
    return `
    <div class="col-lg-12">
        <div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Pagination
                <span class="label label-warning">Total pages: ${totalPages}</span>
                <span class="label label-danger">Total entries: ${totalItems}</span>
            </div>
            <div class="panel-body">
                <div class="infor-pagination">
                    <p>Number of elements on the page: <span>${totalItemsPerPage}</span></p>
                    <p>Showing <span>  ${from} </span> to <span> ${to}</span> of <span> ${totalItems}</span> entries</p>
                </div>
                <div class="ad-pagination">
                    ${xhtmPagination}
                </div>
            </div>
        </div>
    </div>
    </div>`
}%>