<!-- <% statusHelper = (status,link) => { %>
    <a href="#">
        <% if(status == 'active'){ %>
            <span class="label label-success"><%= status %></span>
        <% }else {%>
            <span class="label label-warning"><%= status %></span>
        <%}%>
    </a>
<%}  %> -->


<% 
statusHelper = (collection,id,status) => { 
    let link  = systemConfig.prefixAdmin + "/" + collection + "/change-status/" + id + "/" + status
    let xhtml = ''
    if(status == 'active'){
        xhtml =  `<span class="label label-success">${status}</span>`
    }else{
        xhtml =  ` <span class="label label-warning">${status}</span>`
    }
    return `<a href="javascript:" onClick="changeStatus('${status}','${id}','${link}')">${xhtml}</a> `
}%>

