<% 
groupSelectHelper = (group_id, groups, option = '') => {

    let xhtml = ''
    groups.forEach((group)=>{
        let select = (option == group.id) ? 'selected' : ''
        xhtml += ` <option value="${group.id}" ${select} >${group.name}</option>`
    })
    
    return ` <select name="${group_id}" class="form-control" >${xhtml}</select>` 
}%>

